<chart-ui #uiComponent>
	<div id="studySelect">
		<span>{{studies.selectedOption || "Add Study"}}</span>
		<div class="menu-hover">
			<div class="option" *ngFor="#study of studies.list" (click)="studyDialog.addStudy(study, chartComponent.ciq)">
				{{study}}
			</div>
		</div>
	</div>
	<input [(ngModel)]="symbolInput">
	<button (click)=changeSymbol()>Change Symbol</button>
	<div id="periodicitySelect">
		<span>{{periodicity}}</span>
		<div class="menu-hover">
		    <div class="option" *ngFor="#period of periodicityOptions" (click)="changePeriodicity(period.period, period.interval)">
		        {{period.label}}
		    </div>
		</div>
	</div>
	<div id="chartTypeSelect">
		<span>{{chartType}}</span>
		<div class="menu-hover">
			<div class="option" *ngFor="#type of chartTypes" (click)="changeChartType(type)">
				{{type.label}}
			</div>
		</div>
	</div>
	<button (click)="toggleCrosshairs()">Crosshairs</button>
	<input [(ngModel)]="symbolComparison">
	<button (click)="addComparison()">Add Comparison</button>
	<chart #chartComponent></chart>
	<study-dialog #studyDialog [(launchDialog)]="launchDialog"></study-dialog>
</chart-ui>