<chart-ui #chartComponent>
	<input [(ngModel)]="symbolInput">
	<button (click)=changeSymbol()>Change Symbol</button>
    <strong>Periodicity:</strong>
	<div id="periodicitySelect">
		<span>{{periodicity}}</span>
		<div class="menu-hover">
		    <div class="option" *ngFor="#period of periodicityOptions" (click)="changePeriodicity(period.period, period.interval)">
		        {{period.label}}
		    </div>
		</div>
	</div>
	<strong>Chart Type:</strong>
	<div id="chartTypeSelect">
		<span>{{chartType}}</span>
		<div class="menu-hover">
			<div class="option" *ngFor="#type of chartTypes" (click)="changeChartType(type)">
				{{type.label}}
			</div>
		</div>
	</div>
	<button (click)="toggleCrosshairs()">Crosshairs</button>
	<input [(ngModel)]="symbolComparison">
	<button (click)="addComparison()">Add Comparison</button>
	<chart></chart>
</chart-ui>