
#themeDialog{
	position:fixed;
	z-index:31; /* The zoom buttons have a z-index of 30 */
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,0.4);
}
#colorPicker{
	position:relative;
	width: 200px;
	z-index:32;
	left:0;
	top:0;
}

#themeDialog div.content{
	background-color:#fefefe;
	margin:15% auto;
	padding:20px;
	border:1px solid #888;
	width:20%;
}

#themeDialog .color,
#themeDialog .wick,
#themeDialog .border,
#themeDialog .lineBarChart,
#themeDialog .colors,
#themeDialog .mountainChart,
#themeDialog .background,
#themeDialog .gridLines,
#themeDialog .dateDividers,
#themeDialog .axisText{
	margin-bottom:1em;
}

.content div.inputs,
.content div.outputs,
.content div.parameters,
.content button{
	margin-top:.5em;
}

.content button{
	margin:.5em auto 0 auto;
}

.heading {
	font-size:14px;
	font-weight:bold;
	text-align:center;
}

#themeDialog .color-picker-swatch{
	float:right;
	margin-right:1em;
	cursor: pointer;
}

#themeDialog .theme-field-name{
	display: inline;
}

#themeDialog .theme-save{
	text-align: center;
}

.largeBtn{
	font-size:16px;
	padding:5px 10px 5px 10px;
}

.color-picker-swatch{
	display:block;
	height:20px;
	width:20px;
	border:1px solid black;
}
