<div class="dialog-overlay" *ngIf="launchDialog | async">
	<div class="dialog">
    <div class="cq-close" (click)="closeMe();"></div>
		<h3>Custom Theme</h3>
		<div class="candles">
			<div class="dialog-item color">
				<span>Candle Color</span>
				<div [ngStyle]="{'background-color':candleDown.color}" class="color-picker-swatch colorDown" (click)="launchColorpicker('candleDown',$event)"></div>
				<div [ngStyle]="{'background-color':candleUp.color}" class="color-picker-swatch colorUp" (click)="launchColorpicker('candleUp', $event)"></div>
			</div>
			<div class="dialog-item wick">
				<span>Candle Wick</span>
				<div [ngStyle]="{'background-color':candleDown.wick}" class="color-picker-swatch wickDown" (click)="launchColorpicker('wickDown',$event)"></div>
				<div [ngStyle]="{'background-color':candleUp.wick}" class="color-picker-swatch wickUp" (click)="launchColorpicker('wickUp',$event)"></div>
			</div>
			<div class="dialog-item border">
				<span>Candle Border</span>
				<div [ngStyle]="{'background-color':candleDown.border}" class="color-picker-swatch borderDown" (click)="launchColorpicker('borderDown',$event)"></div>
				<div [ngStyle]="{'background-color':candleUp.border}" class="color-picker-swatch borderUp" (click)="launchColorpicker('borderUp',$event)"></div>
			</div>
		</div>
		<div class="dialog-item lineBarChart">
			<span>Line/Bar Chart</span>
			<div [ngStyle]="{'background-color':lineBarChart.color}" class="color-picker-swatch lineBar" (click)="launchColorpicker('lineBar',$event)"></div>
		</div>
		<div class="dialog-item mountainChart">
			<span>Mountain Color</span>
			<div [ngStyle]="{'background-color':mountainChart.color}" class="color-picker-swatch mountain" (click)="launchColorpicker('mountain',$event)"></div>
		</div>
		<div class="dialog-item background">
			<span>Background</span>
			<div [ngStyle]="{'background-color':background.color}" class="color-picker-swatch chartBackground" (click)="launchColorpicker('chartBackground',$event)"></div>
		</div>
		<div class="dialog-item gridLines">
			<span>Grid Lines</span>
			<div [ngStyle]="{'background-color':gridLines.color}" class="color-picker-swatch lines" (click)="launchColorpicker('lines',$event)"></div>
		</div>
		<div class="dialog-item dateDividers">
			<span>Date Dividers</span>
			<div [ngStyle]="{'background-color':gridDividers.color}" class="color-picker-swatch dividers" (click)="launchColorpicker('dividers',$event)"></div>
		</div>
		<div class="dialog-item axisText">
			<span>Axis Text</span>
			<div [ngStyle]="{'background-color':axis.color}" class="color-picker-swatch axis" (click)="launchColorpicker('axis',$event)"></div>
		</div>
		<div class="dialog-item theme-save">
			<input class="ciq" type="text" placeholder="Name Your Theme" [(ngModel)]="themeName">
			<button class="pull-right ciq" (click)="closeMe(true);">Save</button>
		</div>
	</div>
</div>
