#colorPicker{
	position:relative;
	width: 200px;
	z-index:32;
}

.color-picker-options {/* This is the actual color picker block */
	position:absolute;
	background:#FFF;
	width:180px;
	margin:20px 0 0 0;
	padding:10px 5px 5px 10px;
	border:1px solid #ccc;
	border-radius:3px;
	box-shadow:0 1px 5px 0 rgba(0,0,0,.5);
}
