<div class="dialog-overlay" id="timezoneDialog" *ngIf="launchDialog | async">
	<div class="dialog timezone">
    <div class="cq-close" (click)="closeMe();"></div>
    <h3 class="center">Select Timezone</h3>
    <div *ngIf="myZone" class="current-location-message">Your timezone is your current location</div>
    <button *ngIf="!myZone" class="current-location-btn" (click)="setMyTimezone();">Use my current location</button>
		<ul class="timezoneList">
			<li class="dialog-item" *ngFor="let zone of timezones" (click)="setTimezone(zone);">{{zone}}</li>
		</ul>
    <div class="instruct">(Scroll for more options)</div>
	</div>
</div>
