<nav class="ciq">
	<div class="example3">
		<menu-select class="ciq" id="studySelect">
			<span>{{studies.selectedOption || "Add Study"}}</span>
			<menu-select-options>
				<menu-option *ngFor="let study of studies.list" (click)="studyDialog.addStudy(study, chartComponent.ciq)">
					{{study}}
				</menu-option>
			</menu-select-options>
		</menu-select>
		<menu-select class="ciq" id="themeSelect">
			<span>Select Theme</span>
			<menu-select-options class="menu-hover">
				<menu-option *ngFor="let theme of themes" (click)="handleThemeSelect(theme)"><span>{{theme.name}}</span></menu-option>
			</menu-select-options>
		</menu-select>
		<button class="ciq timezone-btn" (click)="timezoneDialog.launchTimezoneDialog(chartComponent.ciq)">Select Timezone</button>
	</div>
	<div class="example2">
		<input id="symbolInput" placeholder="Set Symbol" type="text" [(ngModel)]="symbolInput"><button class="ciq symbol-btn" (click)=changeSymbol()></button>
		<menu-select class="ciq" id="periodicitySelect">
			<span>{{periodicity}}</span>
			<menu-select-options class="menu-hover">
			    <menu-option *ngFor="let period of periodicityOptions" (click)="changePeriodicity(period.period, period.interval)">
			        {{period.label}}
			    </menu-option>
			</menu-select-options>
		</menu-select>
		<menu-select class="ciq" id="chartTypeSelect">
			<span>{{chartType}}</span>
			<menu-select-options class="menu-hover">
				<menu-option *ngFor="let type of chartTypes" (click)="changeChartType(type)">
					{{type.label}}
				</menu-option>
			</menu-select-options>
		</menu-select>
		<input id="symbolCompareInput" placeholder="Add Comparison" type="text" [(ngModel)]="symbolComparison"><button class="ciq comparison-btn" (click)="addComparison()"></button>
		<button class="ciq crosshair-btn" (click)="toggleCrosshairs()">Crosshairs</button>
	</div>
</nav>
<!-- The components -->
<chart #chartComponent></chart>
<study-dialog #studyDialog [(launchDialog)]="launchDialog" (launchColorpickerEvent)="colorpicker.launchColorpicker($event)"></study-dialog>
<theme-dialog #themeDialog (themeToPush)="updateThemeList($event)" (launchColorpickerEvent)="colorpicker.launchColorpicker($event)"></theme-dialog>
<timezone-dialog #timezoneDialog></timezone-dialog>
<colorpicker #colorpicker (setThemeSwatchColor)="themeDialog.setColorFromPicker($event)" (setStudySwatchColor)="studyDialog.setColorFromPicker($event)"></colorpicker>
