<nav class="ciq-nav">
	<div class="left">
    <span class="symbol-frame">
      <input id="symbolInput" placeholder="Set Symbol" type="text" (keyup.enter)="changeSymbol()" [(ngModel)]="symbolInput"><div class="symbol-btn" (click)=changeSymbol()></div>
    </span>
    <span class="symbol-frame">
      <input id="symbolCompareInput" placeholder="Add Comparison" type="text" (keyup.enter)="addComparison()" [(ngModel)]="symbolComparison"><div class="comparison-btn" (click)="addComparison()"></div>
    </span>
	</div>
	<div class="right">
    <menu-select id="periodicitySelect">
      <span class="title">{{periodicity}}</span>
      <menu-select-options class="menu-hover">
        <menu-option *ngFor="let period of periodicityOptions" (click)="changePeriodicity(period.period, period.interval)">
          {{period.label}}
        </menu-option>
      </menu-select-options>
    </menu-select>
    <menu-select id="chartTypeSelect">
      <span class="title">{{chartType}}</span>
      <menu-select-options class="menu-hover">
        <menu-option *ngFor="let type of chartTypes" (click)="changeChartType(type)">
          {{type.label}}
        </menu-option>
      </menu-select-options>
    </menu-select>
    <menu-select id="studySelect">
      <span class="title">{{studies.selectedOption || "Add Study"}}</span>
      <menu-select-options>
        <menu-option *ngFor="let study of studies.list" (click)="studyDialog.addStudy(study, chartComponent.ciq)">
          {{study}}
        </menu-option>
      </menu-select-options>
    </menu-select>
    <menu-select id="themeSelect">
      <span class="title">Select Theme</span>
      <menu-select-options class="menu-hover">
        <menu-option *ngFor="let theme of themes" (click)="handleThemeSelect(theme)"><span>{{theme.name}}</span></menu-option>
      </menu-select-options>
    </menu-select>
    <button class="crosshair-btn" (click)="toggleCrosshairs()"></button>
    <button class="timezone-btn" (click)="timezoneDialog.launchTimezoneDialog(chartComponent.ciq)" ngClass="{'active':cqNgUi.cqNgChart.ciq.layout.crosshair}"></button>
	</div>
</nav>
<!-- The components -->
<div class="ciq-chart-area">
  <chart #chartComponent></chart>
</div>
<study-dialog #studyDialog [(launchDialog)]="launchDialog" (launchColorpickerEvent)="colorpicker.launchColorpicker($event)" (launchOverlayMenu)="overlayMenu.launchMe($event)"></study-dialog>
<theme-dialog #themeDialog (themeToPush)="updateThemeList($event)" (launchColorpickerEvent)="colorpicker.launchColorpicker($event)"></theme-dialog>
<timezone-dialog #timezoneDialog></timezone-dialog>
<colorpicker #colorpicker (setThemeSwatchColor)="themeDialog.setColorFromPicker($event)" (setStudySwatchColor)="studyDialog.setColorFromPicker($event)"></colorpicker>
<overlay-menu #overlayMenu (launchStudyDialog)="studyDialog.showDialog($event)" (removeStudy)="studyDialog.removeStudy($event)"></overlay-menu>
