<div class="toolbar" *ngIf="launchToolbar | async">
	<menu-select id="toolSelect">
		<span class="title">{{selectedTool || "Select Tool"}}</span>
		<menu-select-options class="menu-hover">
			<menu-option class="option" *ngFor="let tool of drawingTools" (click)="setTool(tool)"><span>{{tool | titlecase}}</span></menu-option>
		</menu-select-options>
	</menu-select>
	<div class="drawingParameters" *ngIf="toolParams">
		<div *ngIf="fillColor" [ngStyle]="{'background-color':fillColor}" class="color-picker-swatch fill" (click)="launchColorpicker('drawingFill', $event)"></div>
		<div *ngIf="lineColor" [ngStyle]="{'background-color':lineColor}" class="color-picker-swatch line" (click)="launchColorpicker('drawingLine', $event)"></div>
		<div *ngIf="lineWidth && pattern">
			<menu-select id="lineSelect">
				<span class="title" [ngClass]="selectedLineClass"></span>
				<menu-select-options class="menu-hover">
					<menu-option class="option" (click)="setLinePattern('ciq-solid-1', 1, 'solid')"><span class="ciq-line-style-option ciq-solid-1"></span></menu-option>
					<menu-option class="option" (click)="setLinePattern('ciq-solid-3', 3, 'solid')"><span class="ciq-line-style-option ciq-solid-3"></span></menu-option>
					<menu-option class="option" (click)="setLinePattern('ciq-solid-5', 5, 'solid')"><span class="ciq-line-style-option ciq-solid-5"></span></menu-option>
					<menu-option class="option" (click)="setLinePattern('ciq-dotted-1', 1, 'dotted')"><span class="ciq-line-style-option ciq-dotted-1"></span></menu-option>
					<menu-option class="option" (click)="setLinePattern('ciq-dotted-3', 3, 'dotted')"><span class="ciq-line-style-option ciq-dotted-3"></span></menu-option>
					<menu-option class="option" (click)="setLinePattern('ciq-dotted-5', 5, 'dotted')"><span class="ciq-line-style-option ciq-dotted-5"></span></menu-option>
					<menu-option class="option" (click)="setLinePattern('ciq-dashed-1', 1, 'dashed')"><span class="ciq-line-style-option ciq-dashed-1"></span></menu-option>
					<menu-option class="option" (click)="setLinePattern('ciq-dashed-3', 3, 'dashed')"><span class="ciq-line-style-option ciq-dashed-3"></span></menu-option>
					<menu-option class="option" (click)="setLinePattern('ciq-dashed-5', 5, 'dashed')"><span class="ciq-line-style-option ciq-dashed-5"></span></menu-option>
				</menu-select-options>
			</menu-select>
		</div>
	</div>
</div>
